<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pin.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @pin.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @pin.lng %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
